/* Override styles for Mac OS X */

* {
	font-size: 11pt;
}

QGroupBox:flat {
	padding: 1em 0 0 0;
	margin-top: 2ex;
}
QGroupBox::title:flat {
	subcontrol-origin: margin;
	margin-top: .4em;
	margin-right: .5em;
}

QLabel[labelStyle="pad_left_smaller_dim"] {
	font-size: 9pt;
}

QLabel[labelStyle="larger"] {
	font-size: 13pt;
}

QLabel[labelStyle="gpsFixStatus"] {
	font-size: 14pt;
}

QToolButton {
	border: .05em solid #8f8f91;
	border-radius: .3em;
	background-color: white;
	font-size: 12pt;
}
QToolButton[autoRaise="true"] {
	border: .05em solid transparent;
	background-color: transparent;
}
QToolButton:hover {
	border-color: black;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(77, 77, 77, 35), stop:1 rgba(149, 149, 149, 10));
}
QToolButton:checked {
	border-color: black;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(77, 77, 77, 85), stop:1 rgba(149, 149, 149, 50));
}
QToolButton:pressed {
	color: white;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(77, 77, 77, 165), stop:1 rgba(77, 77, 77, 255));
}

QToolBar#QGC_TOOLBAR QToolButton  {
	padding: .05em -.5em .05em .05em;
}

QToolBar#QGC_TOOLBAR QLabel {
	font-size: 16pt;
}

QToolBar#QGC_TOOLBAR QLabel#toolBarMessageLabel {
	font-size: 13pt;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarBatteryVoltageLabel,
QToolBar#QGC_TOOLBAR QLabel#toolBarGpsFixLabel {
	font-size: 15pt;
}
