/*
	 This style sheet is loaded for ALL application styles before any other css (eg. before dark (indoor) and light (outdoor) schemes)
*/

QWidget[styleType="ok"] {
	color: rgba(187, 230, 187, 255);
}
QWidget[styleType="warning"] {
	color: rgba(255, 140, 0, 255);
}
QWidget[styleType="error"] {
	color: rgba(255, 0, 0, 255);
}

/* label with emphasis  */
QLabel[labelStyle="emphasis"] {
	 font-weight: bold;
	 font-size: 120%;
}
QLabel[labelStyle="emphasis"]:disabled {
	color: #727272;
}

QLabel[labelStyle="columnLabel"] {
	color: #f2f2f3;
	border: .1em solid rgba(125, 125, 125, 125);
	border-radius: .3em;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
	/*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(80, 80, 80, 120), stop:1 rgba(200, 200, 200, 120));*/
	padding: .1em .3em;
	text-align: center;
}
QLabel[labelStyle="columnLabel"][styleType="compact"] {
	padding: .1em;
}

QLabel[styleType="indicator"] {
	min-width: 0.6em;
	border: .05em solid;
	border-radius: .3em;
	padding: 0;
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0.0, stop:0.35 rgba(36, 88, 209, 200), stop:1 rgba(0, 0, 0, 0));
}
QLabel[styleType="indicator"][value="0"] {
	background-color: transparent;
}
QLabel[styleType="tunableValue"] {
	border-width: 0;
}

QLabel[labelStyle="pad_left_smaller_dim"] {
	font-size: 7pt;
	margin: 0 0 .4em .3em;
	color: rgba(0, 0, 0, 150);
	text-align: top left;
	padding: 0;
}

QLabel[labelStyle="larger"] {
	font-size: 11pt;
}

QLabel[labelStyle="gpsFixStatus"] {
	font-size: 11pt;
	font-weight: bold;
}

/*
	 ProgressBar
*/
QProgressBar {
	border: .05em solid #4A4A4F;
	border-radius: .4em;
	text-align: center;
	padding: 0.05em .1em;
	background-color: #f0f0f0;
}
QProgressBar:horizontal {
	height: .8em;
	max-height: .8em;
	min-height: 0.2em;
}
QProgressBar:vertical {
	width: .8em;
	max-width: .8em;
	min-width: 0.2em;
}
QProgressBar::chunk {
	background-color: #3C7B9E;
	border-radius: .25em;
}
QProgressBar::chunk:horizontal {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0.0, stop:0.25 rgba(36, 88, 209, 210), stop:1 rgba(0, 0, 0, 0));
}
QProgressBar::chunk:vertical {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.0, y2:0.5, stop:0.25 rgba(36, 88, 209, 230), stop:1 rgba(0, 0, 0, 0));
}

QProgressBar#batteryBar::chunk:horizontal,
QProgressBar#toolBarBatteryBar::chunk:horizontal {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0, stop:0.25 rgba(31, 170, 28, 255), stop:1 rgba(0, 0, 0, 0));
}
QProgressBar::chunk#speedBar {
	background-color: yellow;
}
QProgressBar::chunk#thrustBar {
	background-color: orange;
}
QProgressBar#progressBar_rssi::chunk:horizontal,
QProgressBar#rssiBar::chunk:horizontal,
QProgressBar#toolBarRssiBar::chunk:horizontal {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0, stop:0.25 rgba(204, 82, 0, 255), stop:1 rgba(0, 0, 0, 0));
}
QProgressBar#loadBar::chunk:horizontal {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0, stop:0.25 rgba(87, 87, 172, 255), stop:1 rgba(0, 0, 0, 0));
}
QProgressBar#hAccBar::chunk:horizontal,
QProgressBar#vAccBar::chunk:horizontal {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0, stop:0.25 rgba(124, 0, 166, 255), stop:1 rgba(0, 0, 0, 0));
}

QProgressBar[styleType="radioControls"]:horizontal {
	border-radius: .2em;
	max-height: .3em;
	height: .3em;
	margin: .2em 0em .4em 2.2em;
	text-align: top left;
	padding: 0.01em .11em;
}
QProgressBar[styleType="radioControls"]::chunk:horizontal {
	border-radius: .2em;
}
QProgressBar[styleType="radioControlsRSSI"]:horizontal {
	margin: 0 0 0 3em;
	text-align: left;
}

QProgressBar:disabled {
	color: #EBEBEB;
	border-color: #383838;
	background-color: rgba(207, 207, 207, 150);
	etch-disabled-text: 0;
}
QProgressBar::chunk:horizontal:disabled,
QProgressBar#progressBar_rssi::chunk:horizontal:disabled,
QProgressBar#rssiBar::chunk:horizontal:disabled,
QProgressBar#toolBarRssiBar::chunk:horizontal:disabled,
QProgressBar#batteryBar::chunk:horizontal:disabled,
QProgressBar#toolBarBatteryBar::chunk:horizontal:disabled,
QProgressBar#loadBar::chunk:horizontal:disabled,
QProgressBar#hAccBar::chunk:horizontal:disabled,
QProgressBar#vAccBar::chunk:horizontal:disabled {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0.0, stop:0.15 rgba(135, 135, 135, 100), stop:1 rgba(0, 0, 0, 0));
}
QProgressBar::chunk:vertical:disabled {
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0.0, stop:0.15 rgba(135, 135, 135, 100), stop:1 rgba(0, 0, 0, 0));
}



/*
	LCD Number display
*/
QLCDNumber,
QLCDNumber[status="ok"] {
	background-color: rgba(187, 230, 187, 240);
	color: rgba(45, 45, 45, 245);
}
QLCDNumber[status="warning"],
QLCDNumber[status="warningH"],
QLCDNumber[status="warningL"] {
	background-color: rgba(255, 140, 0, 200);
}
QLCDNumber[status="error"],
QLCDNumber[status="errorH"],
QLCDNumber[status="errorL"] {
	background-color: rgba(255, 0, 0, 200);
}
QLCDNumber:disabled {
	background-color: rgba(187, 230, 187, 30);
	color: rgba(45, 45, 45, 200);
}


QScrollArea { background: transparent; }
QScrollArea > QWidget > QWidget { background: transparent; }

/*#pushButton_save_to_aq { padding: 0.2em 0.7em 0.15em; }*/

/*
	 Main application toolbar styling (Operator/Engineer/Pilot/Logging/Replay buttons and battery level bar)
*/
QToolBar#QGC_TOOLBAR {
	max-height: 2.8em;
	margin: 0;
	padding: 0;
	border-bottom: .1em solid #484848;
	border-top: .1em solid #969696;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #8B8B8B, stop:0.3 #808080, stop:0.34 #747474, stop:1 #484848);
	padding: 0;
}
QToolBar#QGC_TOOLBAR QToolButton  {
	font-weight: bold;
	color: #DDDDDF;
	height: 1.7em;
	margin: .3em 0;
	padding: .1em .1em;
	border: .05em solid #BBBBBB;
	border-right-width: 0;
	border-left-width: 0;
	border-radius: 0;
	background-color: #222222;
}
QToolBar#QGC_TOOLBAR QToolButton#actionPilotsView {
	margin-left: .4em;
	border-left-width: .1em;
	border-top-left-radius: .4em;
	border-bottom-left-radius: .4em;
}
QToolBar#QGC_TOOLBAR QToolButton#actionDataView {
	margin-right: .2em;
	border-right-width: .1em;
	border-top-right-radius: .4em;
	border-bottom-right-radius: .4em;
}
QToolBar#QGC_TOOLBAR QToolButton:hover {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
}
QToolBar#QGC_TOOLBAR QToolButton:checked {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2c2c2c, stop: 1 #808080);
	border-color: #379AC3;
}
QToolBar#QGC_TOOLBAR QToolButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
	border-color: #379AC3;
}

QToolBar#QGC_TOOLBAR QWidget[styleType="toolBarStackedWdgt"] {
	margin: 0 .2em;
	padding: 0;
	background-color: transparent;
}

QToolBar#QGC_TOOLBAR QWidget[styleType="toolBarStackedWdgt"]#toolBarProgressBarsWdgt {
	margin: 0;
	max-width: 7.5em;
}

QToolBar#QGC_TOOLBAR QProgressBar:horizontal {
	height: .3em;
	margin: .1em 0;
	border: .05em solid #4A4A4F;
	border-radius: .3em;
	text-align: center;
	background-color: #111118;
	padding: 0.00em .1em;
}
QToolBar#QGC_TOOLBAR QProgressBar#toolBarBatteryBar:horizontal {
	margin: .15em 0 .05em;
}
QToolBar#QGC_TOOLBAR QProgressBar#toolBarRssiBar:horizontal {
	margin-bottom: .15em;
}
QToolBar#QGC_TOOLBAR QProgressBar#hAccBar {
	margin-top: 0;
}

QToolBar#QGC_TOOLBAR QLabel {
	font-weight: bold;
	font-size: 11.5pt;
	margin: 0.1em 0.3em;
	background-color: transparent;
	color: #DDDDDF;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarTimeoutLabel,
QToolBar#QGC_TOOLBAR QLabel#toolBarSafetyLabel {
	border-radius: .4em;
	margin: 0.1em 0;
	max-height: 1.6em;
}
QToolBar#QGC_TOOLBAR QLabel#mavSymbolLabel {
	margin: -.3em 0 0 0;
	padding: 0 0 0 0.1em;
	max-height: 2em;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarNameLabel {
	margin-left: 0;
	color: #3C7B9E;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarModeLabel {
	color: rgb(100, 232, 255);
	margin-right: .05em;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarAuxModeLabel {
	color: rgb(196, 247, 255);
	margin-left: 0;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarStateLabel {
	color: yellow;
	border-radius: .4em;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarMessageLabel {
	margin-right: .5em;
	margin-left: 0;
	font-size: 10pt;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarBatteryVoltageLabel,
QToolBar#QGC_TOOLBAR QLabel#toolBarGpsFixLabel {
	margin: 0 .1em 0 0;
	padding: 0;
	font-size: 11pt;
	qproperty-alignment: AlignRight;
}

QToolBar#QGC_TOOLBAR QLabel:disabled,
QToolBar#QGC_TOOLBAR QLabel#toolBarNameLabel:disabled,
QToolBar#QGC_TOOLBAR QLabel#toolBarModeLabel:disabled,
QToolBar#QGC_TOOLBAR QLabel#toolBarStateLabel:disabled,
QToolBar#QGC_TOOLBAR QLabel#toolBarBatteryVoltageLabel:disabled,
QToolBar#QGC_TOOLBAR QLabel#toolBarSafetyLabel:disabled,
QToolBar#QGC_TOOLBAR QLabel#toolBarGpsFixLabel:disabled {
	color: #868686;
}

