/*
    Main application toolbar styling (Operator/Engineer/Pilot/Logging/Replay buttons and battery level bar)
*/
QToolBar#QGC_TOOLBAR {
    max-height: 36px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #484848;
    border-top: 1px solid #969696;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #8B8B8B, stop:0.3 #808080, stop:0.34 #747474, stop:1 #484848);
    padding: 0;
}
QToolBar#QGC_TOOLBAR QToolButton  {
    font-weight: bold;
    height: 16px;
    min-width: 24px;
    border: 1px solid #BBBBBB;
    border-radius: 0px;
    margin: 4px 0px;
    padding: 0;
    background-color: #222222;
    color: #DDDDDF;
}
QToolBar#QGC_TOOLBAR QToolButton#actionPilotsView {
    margin-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
QToolBar#QGC_TOOLBAR QToolButton#actionEngineersView {
    margin-right: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
QToolBar#QGC_TOOLBAR QToolButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
}
QToolBar#QGC_TOOLBAR QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
    border-color: #379AC3;
    border-width: 1px;
}
QToolBar#QGC_TOOLBAR QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
    border-color: #379AC3;
}
QToolBar#QGC_TOOLBAR QProgressBar:horizontal {
    margin: 0px 0px 0px 4px;
    border: 1px solid #4A4A4F;
    border-radius: 4px;
    text-align: center;
    padding: 1px;
    /*color: #DDDDDF;*/
    background-color: #caeccb;
    height: 10px;
}
/*QToolBar#QGC_TOOLBAR QProgressBar::chunk {
    background-color: green;
}*/
QToolBar#QGC_TOOLBAR QLabel {
    max-height: 20px;
    font-weight: bold;
    font-size: 12px;
    margin: 1px 3px;
    background-color: transparent;
    color: #DDDDDF;
}
QToolBar#QGC_TOOLBAR QProgressBar:horizontal QLabel {
    font-size: 7px;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarTimeoutLabel {
    border-radius: 4px;
    padding: 0 3px;
/*    max-height: 18px;
    margin: 2px 2px 2px 4px;
    font: 14px;*/
}
QToolBar#QGC_TOOLBAR QLabel#mavSymbolLabel {
    padding: 0 5px;
    margin: 0 0 0 8px;
    max-height: 26px;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarNameLabel {
    margin-left: 0;
    font-size: 14px;
    color: #3C7B9E;
}
/*QToolBar#QGC_TOOLBAR QLabel#toolBarModeLabel {
    font: 12px;
}*/
QToolBar#QGC_TOOLBAR QLabel#toolBarStateLabel {
    /*font: 12px;*/
    color: yellow;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarMessageLabel {
    font-size: 11px;
    /*font-style: italic;*/
}
QToolBar#QGC_TOOLBAR QLabel#toolBarBatteryVoltageLabel {
    margin-left: 0;
}

