/*
	 This style sheet is loaded for ALL application styles before any other css (eg. before dark (indoor) and light (outdoor) schemes)
*/

QWidget[styleType="ok"] {
	color: rgba(187, 230, 187, 255);
}
QWidget[styleType="warning"] {
	color: rgba(255, 140, 0, 255);
}
QWidget[styleType="error"] {
	color: rgba(255, 0, 0, 255);
}

/* label with emphasis  */
QLabel[labelStyle="emphasis"] {
	 font-weight: bold;
	 font-size: 120%;
}
QLabel[labelStyle="emphasis"]:disabled {
	color: #727272;
}

QLabel[styleType="indicator"] {
	min-width: 0.6em;
	border: 1px solid;
	border-radius: 3px;
	padding: 0px;
}

/*
	 ProgressBar
*/
QProgressBar {
	border: 1px solid #4A4A4F;
	border-radius: 4px;
	text-align: center;
	padding: 0.1em;
	background-color: #A7A7AB;
}
QProgressBar:disabled {
	color: #EBEBEB;
	border-color: #383838;
	background-color: #CFCFCF;
	etch-disabled-text: 0;
}
QProgressBar:horizontal {
	 max-height: 1em;
	 min-height: 0.8em;
}
QProgressBar:vertical {
	 max-width: 1em;
	 min-width: 0.8em;
}
QProgressBar::chunk {
	 background-color: #3C7B9E;
	 border-radius: 3px;
}
QProgressBar::chunk:disabled {
	background-color: #878787;
}
QProgressBar::chunk#batteryBar {
	background-color: green;
}
QProgressBar::chunk#speedBar {
	background-color: yellow;
}
QProgressBar::chunk#thrustBar {
	background-color: orange;
}
QProgressBar::chunk#progressBar_rssi,
QProgressBar::chunk#rssiBar {
	 background-color: #2c5f7b;
}

QProgressBar[styleType="radioControls"]:horizontal {
	border-radius: 4px;
	max-height: 5px;
	min-height: 3px;
	margin: 0px 0em 8px 2.5em;
	text-align: top left;
	padding: 2px;
}
QProgressBar[styleType="radioControls"]::chunk:horizontal {
	border-radius: 2px;
}
QProgressBar[styleType="radioControlsRSSI"]:horizontal {
	margin: 0px 0em 0px 3em;
	text-align: left;
}


/*
	LCD Number display
*/
QLCDNumber,
QLCDNumber[status="ok"] {
	background-color: rgba(187, 230, 187, 240);
	color: rgba(45, 45, 45, 245);
}
QLCDNumber[status="warning"],
QLCDNumber[status="warningH"],
QLCDNumber[status="warningL"] {
	background-color: rgba(255, 140, 0, 200);
}
QLCDNumber[status="error"],
QLCDNumber[status="errorH"],
QLCDNumber[status="errorL"] {
	background-color: rgba(255, 0, 0, 200);
}
QLCDNumber:disabled {
	background-color: rgba(187, 230, 187, 30);
	color: rgba(45, 45, 45, 200);
}


QScrollArea { background: transparent; }
QScrollArea > QWidget > QWidget { background: transparent; }

/*
	 Main application toolbar styling (Operator/Engineer/Pilot/Logging/Replay buttons and battery level bar)
*/
QToolBar#QGC_TOOLBAR {
	 max-height: 2.5em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #484848;
    border-top: 1px solid #969696;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #8B8B8B, stop:0.3 #808080, stop:0.34 #747474, stop:1 #484848);
    padding: 0;
}
QToolBar#QGC_TOOLBAR QToolButton  {
    font-weight: bold;
    color: #DDDDDF;
	 height: 1.5em;
	 /*min-width: 24px;*/
    border: 1px solid #BBBBBB;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0px;
    margin: 4px 0px;
    padding: 0 1px;
    background-color: #222222;
}
QToolBar#QGC_TOOLBAR QToolButton#actionPilotsView {
    margin-left: 10px;
    border-left-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
QToolBar#QGC_TOOLBAR QToolButton#actionDataView {
    margin-right: 8px;
    border-right-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
QToolBar#QGC_TOOLBAR QToolButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
}
QToolBar#QGC_TOOLBAR QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2c2c2c, stop: 1 #808080);
    border-color: #379AC3;
}
QToolBar#QGC_TOOLBAR QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
    border-color: #379AC3;
}
QToolBar#QGC_TOOLBAR QProgressBar:horizontal {
    margin: 0px 0px 0px 4px;
    border: 1px solid #4A4A4F;
    border-radius: 4px;
    text-align: center;
	 padding: 0.1em;
    /*color: #DDDDDF;*/
    background-color: #caeccb;
	 height: 1em;
}
QToolBar#QGC_TOOLBAR QProgressBar::chunk {
	 background-color: green;
}
QToolBar#QGC_TOOLBAR QLabel {
	 font-weight: bold;
	 font-size: 10.5pt;
	 margin: 0.1em 0.3em;
	 background-color: transparent;
	 color: #DDDDDF;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarTimeoutLabel {
    border-radius: 4px;
    padding: 0 3px;
	 max-height: 1.5em;
}
QToolBar#QGC_TOOLBAR QLabel#mavSymbolLabel {
	 padding: 0 0.3em;
	 margin: 0;
	 max-height: 1.5em;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarNameLabel {
    margin-left: 0;
	 font-size: 12pt;
    color: #3C7B9E;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarModeLabel {
    /*font: 12px;*/
}
QToolBar#QGC_TOOLBAR QLabel#toolBarStateLabel {
    /*font: 12px;*/
    color: yellow;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarMessageLabel {
	 font-size: 9pt;
    /*font-style: italic;*/
}
QToolBar#QGC_TOOLBAR QLabel#toolBarBatteryVoltageLabel {
    margin-left: 0;
}

