* { font-family: "Bitstream Vera Sans"; font: "Roman"; font-size: 12px; outline: none; }

/*
    QWidget (common for most elements)
*/
QWidget {
	background-color: #202020;
    color: #DDDDDF;
	 background-clip: border;
    font-size: 11px;
}
QWidget:disabled {
	color: #727272;
	 border-color: #383838;
	 background-color: #202020;
    etch-disabled-text: 0;
}


/* Containers first */

/*
    MainWindow
*/
 QMainWindow::separator {
 color: #EEEEEE;
 width: 7px;
 opacity: 50;
}

/*
    Dialog
*/
QDialog {
  border: 1px solid #62676B;
  border-radius: 2px;
}

/*
    GroupBox
*/
QGroupBox {
    border: 1px solid #66666B;
    border-radius: 3px;
    padding: 8px 0px 0px 0px;
    margin-top: 2ex; /* leave space at the top for the title */
}
QGroupBox:flat {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
}
QGroupBox::title {
     subcontrol-origin: margin;
     /* subcontrol-position: top left; position at the top left */
    /*top: 0px;*/
    left: 10px;
    margin: 0 3px 0px 3px;
    padding: 0 3px 0px 0px;
    font-weight: bold;
    font-size: 8px;
    color: #DDDDDF;
	 etch-disabled-text: 0;
}
QGroupBox::title:disabled {
    color: #727272;
    font-weight: normal;
	 etch-disabled-text: 0;
}

/*
    DockWidget
*/
QDockWidget::title {
    text-align: left;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3F556A, stop: 1 #293645);
    color: #EDEDED;
    padding: 1px 30px 1px 10px;
	 margin-top: 4px;
    height: 13px;
    border-radius: 2px;
    /*border-bottom: 1px solid #1B1F22;*/
	/*border-bottom: 2px solid #2C3A4A;*/
}
QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background: none;
    padding: 0px;
    margin-top: 4px;
}
QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background-color: #506B84;
}
QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
     padding: 1px -1px -1px 1px;
}

/*
    MenuBar
*/
QMenuBar::item {
    padding: 4px 0px 4px 14px;
}
QMenuBar::item:disabled {
    border: none;
    background: none;
    color: #727272;
}

/*
    Menu
*/
QMenu {
    border: 1px solid #379AC3;
}
QMenu::item:selected {
    background-color: #506B84;
}
QMenu::item:disabled:selected {
    background-color: transparent;
}
QMenu::separator {
     height: 1px;
     background: #379AC3;
     margin-top: 8px;
     margin-bottom: 4px;
     margin-left: 5px;
     margin-right: 5px;
 }

/*
 * Fix for bug in Qt5 where QMenuBar items are styled natively on Windows, ignoring inherited settings.
 * so we explicitly set their background color here (should match catch-all style background color).
 */
QMenuBar::item {
	 background-color: #202020;
}

/*
    TabWidget
*/
QTabWidget  {
     background-color: #191919;
}
 QTabWidget::pane { /* The tab widget frame */
     border: 1px solid #62676B;
     border-radius: 2px;
     position: absolute;
     top: -0.5em;
 }
 QTabWidget::tab-bar {
     alignment: center;
 }

/*
    TabBar
*/
 /* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
 QTabBar::tab {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
    border: 1px solid #62676B;
    border-radius: 4px;
    min-width: 8ex;
    padding: 2px;
    margin-right: 4px;
 }
 QTabBar::tab:first {
    margin-left: 4px;
 }
 QTabBar::tab:selected, QTabBar::tab:hover {
    border: 2px solid #379AC3;
    background-color: #353535;
 }

/*
    TableWidget
*/
/*QTableWidget {
	 background-color: #727272;
    color: #DDDDDF;
	 alternate-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
}*/
QHeaderView::section, QHeaderView::section:checked, QHeaderView::section:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
}

/*
    ToolTip
*/
QToolTip {
    background-color: #274968;
    background-clip: border;
    border: 1px solid #007BA8;
    padding: 1px 3px;
	border-radius: 6px;
    color: #DDDDDF;
    opacity: 230;
}


/* Data entry fields */

/* Common styles (can override later per element) */
QLineEdit,
QTextEdit,
QPlainTextEdit,
QComboBox,
QDateTimeEdit,
QSpinBox,
QDoubleSpinBox
{
    border: 1px solid #777777;
    border-radius: 2px;
    min-height: 18px;
    background-color: #161616;
}

/* Disabled fields common styling */
QLineEdit:disabled,
QTextEdit:disabled,
QPlainTextEdit:disabled,
QComboBox:disabled,
QDateTimeEdit:disabled,
QSpinBox:disabled,
QDoubleSpinBox:disabled,
QCheckBox::indicator:disabled {
    border-color: #383838;
	 background-color: #202020;
}

/* read-only text fields */
QLineEdit[readOnly="true"],
QTextEdit[readOnly="true"],
QPlainTextEdit[readOnly="true"],
QComboBox[readOnly="true"],
QDateTimeEdit[readOnly="true"],
QSpinBox[readOnly="true"],
QDoubleSpinBox[readOnly="true"]
{
    background-color: #0C0C0C;
}

/* Individual field types */

/*
    TextEdit
*/
QTextEdit {
    min-height: 35px;
}

/*
    PlainTextEdit
*/
QPlainTextEdit {
    font-family: "Monospace";
    font: large;
    min-height: 35px;
}

/*
    SpinBox, DoubleSpinBox
*/
QSpinBox, QDoubleSpinBox {
    min-height: 20px;
}
QSpinBox::up-button, QDoubleSpinBox::up-button {
    subcontrol-origin: content;
    subcontrol-position: top right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-up.svg) 1;
    /*border-width: 1px;*/
}
QSpinBox::down-button, QDoubleSpinBox::down-button {
    subcontrol-origin: content;
    subcontrol-position: bottom right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-down.svg) 1;
    /*border-width: 1px;*/
}

/*
    CheckBox
*/
QCheckBox::indicator {
    border: 1px solid #777777;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}
QCheckBox::indicator:checked, QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #056991, stop: 1 #379AC3);
}
QCheckBox::indicator:indeterminate,  QCheckBox::indicator:indeterminate:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #379AC3, stop: 1 #000000);
}
QCheckBox::indicator:checked:disabled {
	background-color: rgba(5, 105, 145, 100);
}
QCheckBox::indicator:indeterminate:disabled {
	background-color: rgba(55, 154, 195, 100);
}

/*
    RadioButton
*/
QRadioButton::indicator:disabled {
    border: 1px solid #383838;
    border-radius: 6px;
}


/* Non-editable elements */

/*
    PushButton
*/
QPushButton {
    height: 20px;
    /*max-height: 20px;*/
	border: 1px solid transparent;
	border-radius: 2px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}
QPushButton:focus {
    border-color: #999999;
}
QPushButton:checked, QPushButton:hover {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
    border: 1px solid #777777;
}
QPushButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
    border: 0px solid #379AC3;
}
QPushButton:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #585859, stop: 1 #313233);
}
QPushButton::menu-indicator {
   subcontrol-position: right middle;
}

/*
    ToolButton
*/
QToolButton {
    min-height: 18px;
    /*max-height: 20px;*/
    icon-size: 18px;
    border: 0px solid #4A4A4F;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}

/* *0=ToolButtonIconOnly*
QToolButton[toolButtonStyle="0"] {
    min-width: 18px;
}*/
QToolButton:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #585859, stop: 1 #313233);
}
QToolButton[autoRaise="true"] {
    /*background-color: #050508;*/
    /*background-color: qlineargradient(spread:reflect, x1:0.500318, y1:0, x2:0, y2:0, stop:0.05 rgba(0, 0, 0, 30), stop:1 rgba(255, 255, 255, 30));*/
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(89, 102, 111, 60), stop: 1 rgba(65, 75, 82, 60));
    border: 1px solid transparent;
}

QToolButton:checked {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
    border: 2px solid #379AC3;
}
QToolButton:hover {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
}
QToolButton[autoRaise="true"]:hover {
    border: 1px solid #777777;
}
QToolButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
    border: 2px solid #379AC3;
}
QToolButton::menu-indicator {
    subcontrol-position: right middle;
}

/*
    Slider
*/
QSlider::groove:horizontal {
     border: 1px solid #999999;
     height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #4A4A4F, stop:1 #4A4A4F);
     margin: 2px 0;
}
 QSlider::handle:horizontal {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
     border: 2px solid #379AC3;
     width: 18px;
     margin: -5px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
     border-radius: 3px;
}
 QSlider::groove:vertical {
     border: 1px solid #999999;
     width: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #4A4A4F, stop:1 #4A4A4F);
     margin: 2px 0;
}
 QSlider::handle:vertical {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #232228, stop: 1 #020208);
     border: 2px solid #379AC3;
     height: 18px;
     margin: 0 -5px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
     border-radius: 3px;
}

/*
    Label
*/
QLabel {
    background-color: transparent;
    min-height: 13px;
}

/*
    Splitter
*/
/*QSplitter {
    color: #EEEEEE;
	 width: 7px;
}*/

QSplitter:handle {
	background-color: #202020;
}
QSplitter::handle:hover {
	background-color: #303030;
}

/*QSplitter#splitter {
	 width: 18px;
}*/

/*
    H/V Line
*/
QFrame[frameShape="4"], QFrame[frameShape="5"] {
	 color: #666666;
	 background-color: #666666;
}
/*
    ProgressBar
*/
QProgressBar {
	border: 1px solid #4A4A4F;
	border-radius: 4px;
	text-align: center;
	padding: 2px;
	color: #DDDDDF;
        background-color: #111118;
}
QProgressBar:horizontal {
    max-height: 11px;
    min-height: 6px;
}
QProgressBar:vertical {
    max-width: 11px;
}
QProgressBar::chunk {
	background-color: #3C7B9E;
	border-radius: 3px;
}
QProgressBar::chunk:disabled {
	background-color: #727272;
}
QProgressBar::chunk#batteryBar {
	background-color: green;
}
QProgressBar::chunk#speedBar {
	background-color: yellow;
}
QProgressBar::chunk#thrustBar {
	background-color: orange;
}

QProgressBar#progressBar_rssi::chunk {
    background-color: #2c5f7b;
}


/*
    CalendarWidget
*/
QCalendarWidget QTableView {
    border: 2px solid #777777;
    padding-bottom: 6px;
}
QCalendarWidget QWidget#qt_calendar_navigationbar {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}
QCalendarWidget QToolButton#qt_calendar_monthbutton {
	padding-right: 13px;
}
QCalendarWidget QToolButton#qt_calendar_yearbutton {
	padding-right: 5px;
}
QCalendarWidget QSpinBox#qt_calendar_yearedit  {
	min-width: 50px;
}
QCalendarWidget QTableView  {
	/*background-color: #379AC3;*/
    alternate-background-color: #6D6D6D;
}

/*
	LCD Number display
*/
QLCDNumber,
QLCDNumber[status="ok"] {
	background-color: rgba(187, 230, 187, 240);
	color: rgba(45, 45, 45, 245);
}
QLCDNumber[status="warning"],
QLCDNumber[status="warningH"],
QLCDNumber[status="warningL"] {
	background-color: rgba(255, 140, 0, 200);
}
QLCDNumber[status="error"],
QLCDNumber[status="errorH"],
QLCDNumber[status="errorL"] {
	background-color: rgba(255, 0, 0, 200);
}
QLCDNumber:disabled {
	background-color: rgba(187, 230, 187, 30);
	color: rgba(45, 45, 45, 200);
}


/* Specific elements */

/*
    Main application toolbar styling (Operator/Engineer/Pilot/Logging/Replay buttons and battery level bar)
*/
QToolBar#QGC_TOOLBAR {
    max-height: 36px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #484848;
    border-top: 1px solid #969696;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #8B8B8B, stop:0.3 #808080, stop:0.34 #747474, stop:1 #484848);
    padding: 0;
}
QToolBar#QGC_TOOLBAR QToolButton  {
    font-weight: bold;
    color: #DDDDDF;
    height: 16px;
    min-width: 24px;
    border: 1px solid #BBBBBB;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0px;
    margin: 4px 0px;
    padding: 0 1px;
    background-color: #222222;
}
QToolBar#QGC_TOOLBAR QToolButton#actionPilotsView {
    margin-left: 10px;
    border-left-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
QToolBar#QGC_TOOLBAR QToolButton#actionDataView {
    margin-right: 8px;
    border-right-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
QToolBar#QGC_TOOLBAR QToolButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
}
QToolBar#QGC_TOOLBAR QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2c2c2c, stop: 1 #808080);
    border-color: #379AC3;
}
QToolBar#QGC_TOOLBAR QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
    border-color: #379AC3;
}
QToolBar#QGC_TOOLBAR QProgressBar:horizontal {
    margin: 0px 4px 0px 0px;
    border: 1px solid #4A4A4F;
    border-radius: 4px;
    text-align: center;
    padding: 2px;
    color: #111111;
    background-color: #111118;
    height: 10px; }
QToolBar#QGC_TOOLBAR QProgressBar:horizontal QLabel {
    font-size: 9px; color: #111111;
}
QToolBar#QGC_TOOLBAR QProgressBar::chunk {
    background-color: green;
}
QToolBar#QGC_TOOLBAR QLabel {
    max-height: 20px;
    font-weight: bold;
    font-size: 12px;
    margin: 1px 3px;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarTimeoutLabel {
    border-radius: 4px;
    padding: 0 3px;
/*    max-height: 18px;
    margin: 2px 2px 2px 4px;
    font: 14px;*/
}
QToolBar#QGC_TOOLBAR QLabel#mavSymbolLabel {
    padding: 0 5px;
    margin: -4px 0 0 8px;
    max-height: 34px;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarNameLabel {
    margin-left: 0;
    font-size: 14px;
    color: #3C7B9E;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarModeLabel {
    /*font: 12px;*/
}
QToolBar#QGC_TOOLBAR QLabel#toolBarStateLabel {
    /*font: 12px;*/
    color: yellow;
}
QToolBar#QGC_TOOLBAR QLabel#toolBarMessageLabel {
    font-size: 11px;
    /*font-style: italic;*/
}



/* Custom pushbuttons */
QPushButton#forceLandButton,
QPushButton#killButton {
	font-weight: bold;
	min-height: 30px;
	color: #000000;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #ffee01, stop:1 #ae8f00) url(:/files/images/control/emergency-button.png);
	background-clip: border;
	border: 1px solid #555555;
	border-radius: 5px;
}
QPushButton#forceLandButton:pressed {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bbaa00, stop:1 #a05b00);
}
QPushButton#killButton {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffb917, stop:1 #b37300);
}
QPushButton#killButton:pressed {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bb8500, stop:1 #903000);
}

QPushButton#controlButton {
    min-height: 25px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A0AE00, stop: 1 #909E00);
}
QPushButton#controlButton:checked {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b76f11, stop: 1 #e1a718);
}


/* Custom labels */

/* Button container frame */
QFrame#frame_toolbarButtons {
    padding: 4px 5px 5px;
    background-color: #1F1F1F;
    border: 1px solid #66666B;
    border-radius: 5px;
}

/* channel value labels on radio output progress bar graph (AQ->Setup->Radio) */
QLabel#label_chanValue_0,
QLabel#label_chanValue_1,
QLabel#label_chanValue_2,
QLabel#label_chanValue_3,
QLabel#label_chanValue_4,
QLabel#label_chanValue_5,
QLabel#label_chanValue_6,
QLabel#label_chanValue_7 {
    color: #4CBBFF;
    font-weight: bold;
    font-size: 13px;
}
QLabel#label_chanValue_0:disabled,
QLabel#label_chanValue_1:disabled,
QLabel#label_chanValue_2:disabled,
QLabel#label_chanValue_3:disabled,
QLabel#label_chanValue_4:disabled,
QLabel#label_chanValue_5:disabled,
QLabel#label_chanValue_6:disabled,
QLabel#label_chanValue_7:disabled {
	color: #727272;
}

