/* Color substitutions from the dark theme:
050508 : F6F6F6 // main background
DDDDDF : 000000 // main font color
66666B : 222216 // grp box border
777777 : 111111 // form fld borders
161616 : E8E8E8 // form fld bg
F6F6F6 : BCBCBC // form fld disabled bg
379AC3 : 333333 // checkbox indicator
274968 : D6D6D6 // tooltip background
007BA8 : 8C8C8C // tooltip border
555555 : 222222 // emergency button borders

*/

* { font-family: "Segoe UI", "Bitstream Vera Sans"; font: "Roman"; font-size: 12px; outline: none; }

/*
    QWidget (common for most elements)
*/
QWidget {
    background-color: #F5F5F5;
    color: #000000;
    background-clip: border;
    font-size: 11px;
}
QWidget:disabled {
	color: #727272;
    border-color: #383838;
	 etch-disabled-text: 0;
}


/* Containers first */

/*
    MainWindow
*/
 QMainWindow::separator {
     background: #D3D3D3;
	  width: 6px; /* when vertical */
	  height: 6px; /* when horizontal */
	  margin: 3px;
}
 QMainWindow::separator:hover {
     background: silver;
}

/*
    Dialog
*/
QDialog {
  border: 1px solid #62676B;
  border-radius: 2px;
}

/*
    GroupBox
*/
QGroupBox {
    border: 1px solid #222216;
    border-radius: 3px;
    padding: 8px 0px 0px 0px;
    margin-top: 2ex; /* leave space at the top for the title */
}
QGroupBox:flat {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
}
 QGroupBox::title {
     subcontrol-origin: margin;
     /* subcontrol-position: top left; position at the top left */
	top: -3px;
    left: 10px;
    margin: 2px 3px 0px 3px;
    padding: 0 3px 0px 0px;
    font-weight: bold;
	font-size: 8px;
    color: #000000;
 }
QWidget::title:disabled {
    color: #d5d5d5;
    font-weight: normal;
}

/*
    DockWidget
*/
 QDockWidget {
 /* these don't seem to be having any effect... ?
    border: 2px solid #222216;
    padding: 2px;
    margin: 2px;
    border-radius: 1px;
    */
    color: #EDEDED; /* this sets the title color for some reason */
}
QDockWidget::title {
    text-align: left;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3F556A, stop: 1 #293645);
    padding: 1px 30px 1px 10px;
    height: 13px;
    border-radius: 2px;
    /*border-bottom: 1px solid #1B1F22;*/
	/*border-bottom: 2px solid #2C3A4A;*/
}
QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background: none;
    padding: 0px;
}
QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background-color: #506B84;
}
QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
     padding: 1px -1px -1px 1px;
}

/*
    MenuBar
*/
QMenuBar::item {
    padding: 4px 0px 4px 14px;
}
QMenuBar::item:disabled {
    border: none;
    background: none;
    color: #727272;
}

/*
    Menu
*/
QMenu {
    border: 1px solid #333333;
}
QMenu::item:selected {
    background-color: #506B84;
}
QMenu::item:disabled:selected {
    background-color: transparent;
}
QMenu::separator {
     height: 1px;
     background: #333333;
     margin-top: 8px;
     margin-bottom: 4px;
     margin-left: 5px;
     margin-right: 5px;
 }

/*
 * Fix for bug in Qt5 where QMenuBar items are styled natively on Windows, ignoring inherited settings.
 * so we explicitly set their background color here (should match catch-all style background color).
 */
QMenuBar::item {
	 background-color: #F5F5F5;
}

/*
    TabWidget
*/
 QTabWidget::pane { /* The tab widget frame */
     border: 1px solid #62676B;
     border-radius: 2px;
     position: absolute;
     top: -0.5em;
 }
 QTabWidget::tab-bar {
     alignment: center;
 }

/*
    TabBar
*/
 /* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
 QTabBar::tab {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #C4C4C4, stop: 1 #E5E5E5);
    border: 1px solid #62676B;
    border-radius: 4px;
    min-width: 8ex;
    padding: 2px;
    margin-right: 4px;
 }
 QTabBar::tab:first {
    margin-left: 4px;
 }
 QTabBar::tab:selected, QTabBar::tab:hover {
    border: 2px solid #333333;
 }

/*
    ToolTip
*/
QToolTip {
	background-color: #D6D6D6;
	background-clip: border;
	border: 1px solid #8C8C8C;
	padding: 0px 3px;
	border-radius: 6px;
	color: #000000;
}


/* Data entry fields */

/* Common styles (can override later per element) */
QLineEdit,
QTextEdit,
QPlainTextEdit,
QComboBox,
QDateTimeEdit,
QSpinBox,
QDoubleSpinBox
{
    border: 1px solid #111111;
    border-radius: 2px;
    min-height: 18px;
    background-color: #E8E8E8;
}

/* Disabled fields common styling */
QLineEdit:disabled,
QTextEdit:disabled,
QPlainTextEdit:disabled,
QComboBox:disabled,
QDateTimeEdit:disabled,
QSpinBox:disabled,
QDoubleSpinBox:disabled {
    border-color: #BCBCBC;
    background-color: #F1F1F1;
}

/* read-only text fields */
QLineEdit[readOnly="true"],
QTextEdit[readOnly="true"],
QPlainTextEdit[readOnly="true"],
QComboBox[readOnly="true"],
QDateTimeEdit[readOnly="true"],
QSpinBox[readOnly="true"],
QDoubleSpinBox[readOnly="true"]
{
    background-color: #E0E0E0;
}


/* Individual field types */

/*
    TextEdit
*/
QTextEdit {
    min-height: 35px;
}

/*
    PlainTextEdit
*/
QPlainTextEdit {
    font-family: "Monospace";
    font: large;
    min-height: 35px;
}

/*
    SpinBox, DoubleSpinBox
*/
QSpinBox, QDoubleSpinBox {
    min-height: 20px;
}
QSpinBox::up-button, QDoubleSpinBox::up-button {
    subcontrol-origin: content;
    subcontrol-position: top right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-up.svg) 1;
    /*border-width: 1px;*/
}
QSpinBox::down-button, QDoubleSpinBox::down-button {
    subcontrol-origin: content;
    subcontrol-position: bottom right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-down.svg) 1;
    /*border-width: 1px;*/
}


/* Non-editable elements */

/*
	 PushButton, ToolButton
*/
QPushButton, QToolButton {
	 border-color: #465158;
	 background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BBB, stop: 1 #777);
}
QPushButton:checked, QToolButton:checked {
	 background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #444, stop: 1 #888);
	 color: #FFF;
}
QPushButton:hover, QToolButton:hover {
	 background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #B8D3E6, stop: 1 #899FAD);
}
QPushButton:disabled, QToolButton:disabled {
	 background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEE, stop: 1 #CCC);
	 color: #AAA;
}


/*
    CalendarWidget
*/
QCalendarWidget QTableView {
    border: 2px solid #111111;
    padding-bottom: 6px;
}
QCalendarWidget QWidget#qt_calendar_navigationbar {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}
QCalendarWidget QToolButton#qt_calendar_monthbutton {
	padding-right: 13px;
}
QCalendarWidget QToolButton#qt_calendar_yearbutton {
	padding-right: 5px;
}
QCalendarWidget QSpinBox#qt_calendar_yearedit  {
	min-width: 50px;
}
QCalendarWidget QTableView  {
	/*background-color: #333333;*/
    alternate-background-color: #6D6D6D;
}


/* Specific elements */

/*
    Main application toolbar styling (Operator/Engineer/Pilot/Logging/Replay buttons and battery level bar)
*/

/* Custom pushbuttons */
QPushButton#forceLandButton,
QPushButton#killButton {
	font-weight: bold;
	min-height: 30px;
	color: #000000;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #ffee01, stop:1 #ae8f00) url(:/files/images/control/emergency-button.png);
	background-clip: border;
	border: 1px solid #222222;
	border-radius: 5px;
}
QPushButton#forceLandButton:pressed {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bbaa00, stop:1 #a05b00);
}
QPushButton#killButton {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffb917, stop:1 #b37300);
}
QPushButton#killButton:pressed {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bb8500, stop:1 #903000);
}

QPushButton#controlButton {
    min-height: 25px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A0AE00, stop: 1 #909E00);
}
QPushButton#controlButton:checked {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b76f11, stop: 1 #e1a718);
}


/* Custom labels */
QLabel#toolBarNameLabel {
	font: bold 16px;
	color: #3C7B9E;
}
QLabel#toolBarModeLabel {
	font: 12px;
}
QLabel#toolBarStateLabel {
	font: 12px;
	color: #3C7B9E;
}
QLabel#toolBarMessageLabel {
	font: 12px;
    font-style: italic;
	color: #3C7B9E;
}

/* Button container frame */
QFrame#frame_toolbarButtons {
    padding: 4px 5px;
}
